@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    background: hsl(225, 100%, 94%) url(./images/pattern-background-desktop.svg) repeat-x;
    font-family: 'Red Hat Display', sans-serif;
}

a {
    text-decoration: none;
}

section {
    width: 30%;
    min-width: 405px;
    max-width: 640px;
    margin: 100px auto;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 20px 50px -20px hsl(224, 23%, 55%, .8);
    }

.hero {
    padding: 0;
}

h1 {
    color: hsl(223, 47%, 23%);
    text-align: center;
    margin-top: 0;
    font-weight: 900;
    font-size: 1.8rem;
}

p {
    color: hsl(224, 23%, 55%);
    text-align: center;
}

aside {
    padding: 3rem 3rem 1rem 3rem;
}

.plan {
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 40px 0;
    padding: 10px 20px;
}


.title {
    font-weight: bold;
    color: hsl(223, 47%, 23%);
    
}


.plan p {
    text-align: left;
    flex: 60%;
    margin-left: 10px;
}

.plan a {
    text-decoration: underline;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    color: hsl(245, 75%, 52%, 0.6);
}

.btn {
    background: hsl(245, 75%, 52%);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 20px 50px -20px hsl(245, 75%, 52%);
}

.btn:hover {
    background: hsl(245, 75%, 52%, 0.6);
}

.btn a {
    color: white;
    font-weight: 700;
    display: block;
}

.btn + p {
    font-weight: 700;
    padding: 20px;
}

p a {
    color: hsl(224, 23%, 55%);
}

p a:hover {
    color: hsl(223, 47%, 23%);
}



.attribution {
     font-size: 11px; text-align: center; 
    }

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:540px) {
    body {
        background: hsl(225, 100%, 94%) url(./images/pattern-background-mobile.svg) repeat-x;
    }

    h1 {
        font-size: 1.4rem;
    }

    .plan {
        padding: 10px 10px;
    }
    
    section {
       width: 75%;
       min-width: 340px;
       max-width: 640px;
    }

    aside {
        padding: 2rem 2rem 1rem 2rem;
    }
}